* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centerText {
  text-align: center;
}

.paraTextSize {
  font-size: 18px;
}

.centerContainer {
  margin: 0 auto;
}

.btn {
  font-weight: 700;
}

.largeBtn {
  padding: 16px 40px;
}

.smallBtn {
  padding: 16px 30px;
  margin-left: 16px;
}

.btnBorderRadius {
  border-radius: 30px;
  border: none;
}

.white {
  color: #fff;
}

.btnLightBlue {
  background-color: #4d96a9;
}

.btnPurple {
  background-color: #855fb1;
}

.btnExtraText {
  font-size: 16px;
  opacity: 0.7;
}

.green {
  color: #4d96a9;
}

.upperCase {
  text-transform: uppercase;
}

.mediumTextSize {
  font-size: 40px;
}

.paragraphMargin {
  margin-block: 32px;
}

.boldTextContainer {
  max-width: 445px;
  font-weight: 900;
}

.smallContainer {
  max-width: 540px;
}

.footerSmallContainer {
  max-width: 350px;
}

.inlinePaddingforContainers {
  padding-inline: 30px;
}

.navbar {
  max-width: 120px;
  margin-block: 80px;
}

.headerContainer {
  background-image: url("leftBackground.png"), url("rightbackground.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right top;
}

.headerContent h1 {
  font-size: 64px;
}

.meetingContainer {
  margin-top: 200px;
  display: block;
}

.meetingContent {
  margin-block: 64px;
  max-width: 1270px;
  gap: 30px;
  padding: 0 70px;
}

.numberdiv {
  max-width: 56px;
  font-weight: 500;
  padding: 15px 20px;
  border-radius: 50%;
  border: 1px solid #87879d;
  position: relative;
}

.numberdiv::before {
  content: " ";
  width: 1px;
  height: 84px;
  background-color: #87879d;
  position: absolute;
  top: -85px;
  left: 27px;
}

.meetingContentUniqueText {
  margin-bottom: 16px;
  letter-spacing: 4px;
}

.MeetingImage {
  width: 100%;
  height: 100%;
}

.footerContainer {
  background-image: url("footerBackground.png") no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin-top: 190px;
  position: relative;
}

.numberTwo {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}

.footerContent {
  padding: 116px 40px 80px 40px;
  max-width: 1270px;
}

@media (max-width: 1250px) {
  .headerContainer {
    background-size: 25%;
  }

  .headerContent {
    max-width: 450px;
  }
}

@media (max-width: 1040px) {
  .footerSmallContainer {
    max-width: 300px;
  }
}

@media (max-width: 870px) {
  .headerContainer {
    background-position: left top, right top;
    background-size: 46%;
  }

  .headerContent {
    padding-top: 400px;
    margin-top: 100px;
  }

  .meetingContent {
    gap: 15px;
    padding-inline: 30px;
  }

  .footerContainer {
    background-image: url("tabletFooterBackground.png");
    background-repeat: no-repeat;
  }

  .footerHead {
    max-width: 480px;
  }

  .footerParaGraph {
    max-width: 560px;
  }

  .footerContent {
    text-align: center;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    padding: 116px 40px 0 40px;
  }

  .footerBtn {
    margin-bottom: 30px;
  }
}

@media (max-width: 750px) {
  .headerContainer {
    background-size: 48%;
  }

  .headerContent {
    padding-top: 300px;
  }

  .meetingContent {
    gap: 10px;
  }

  .meetingRuleContent {
    padding-inline: 30px;
  }

  .footerContent {
    padding: 80px 30px 0 30px;
  }
}

@media (max-width: 500px) {
  .navbar {
    margin-block: 40px;
  }

  .headerContent {
    padding-inline: 30px;
    padding-top: 230px;
  }

  .headerContent h1 {
    font-size: 40px;
  }

  .btnLightBlue {
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .meetingContainer {
    margin-top: 150px;
  }

  .mediumTextSize {
    font-size: 34px;
  }

  .paraTextSize {
    font-size: 16px;
  }

  .footerContainer {
    background-image: url("MobileFooterBackground.png");
  }
}
